@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

body {
  /* background-color: #021136; */
  background-color: white;
  color: white;
  font-family: "Montserrat", sans-serif;
}
